.btn-form {
  color: white!important;
  background-color: #3A506B!important;
  padding: 0.8em 1.7em;
  border-radius: 1.25rem;
  font-weight: 400;
  letter-spacing: 8px;
  opacity: .8;
  text-decoration: none;
  font-size: 15px;
}

.btn-form:hover {
  background-color: #CED0CE;
  opacity: .7;
  color: #3A506B;
  font-weight: 400;
}
